.App {
  text-align: center;
  background-color: #282c34;
}
.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-content{
  
  background-color:#282c34;
  position:relative;
  text-align: left;
}
.App-footer{
  height: 100px;
  padding: 15px 200px;
  color: white;
  opacity: 0.5;
  font-size: 50px;
  text-align: left;
}
